In [22]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,56,66,70], 
                         [2,90,45,34], 
                         [3,45,32,55],
                         [4,70,77,89], 
                         [5,56,80,70], 
                         [6,60,54,55], 
                         [7,45,70,79], 
                         [8,34,77,76], 
                         [9,25,87,60], 
                         [10,88,40,43]],
                        columns=['student_id','math_score','english_score','chinese_score'])
#a
print(np.mean(score_df.iloc[6][1:]))

64.66666666666667

In [26]:
#b
all_mean=score_df[score_df.columns[1:]].mean(axis=1)
if np.mean(score_df.iloc[6][1:]) > all_mean.median():
  print('student_id 6 score mean:',np.mean(score_df.iloc[6][1:]),', all student score mean: ',all_mean.median())
  print()
  print("Student_id 6's score mean is higher than half of the class")
else:
  print('student_id 6 score mean:',np.mean(score_df.iloc[6][1:]),', all student score mean: ',all_mean.median())
  print()
  print("Student_id 6's score mean isn't higher than half of the class")

student_id 6 score mean: 86.27397341328172 , all student score mean:  83.90996103870091

Student_id 6's score mean is higher than half of the class

In [17]:
#c
score_df.iloc[6][1:].apply(lambda x:(x**0.5)*10)

math_score       67.082039
english_score    83.666003
chinese_score    88.881944
Name: 6, dtype: float64

In [23]:
#d
score_df=score_df[score_df.columns[1:]].apply(lambda x:(x**0.5)*10)
score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64