In [1]:
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>
1.19.5
<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
1.1.5

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      4
1  banana  medium     12
2  orange     low      4
3   apple    high      9
4  banana  medium      2
5  orange     low     12
6   apple    high      9
7  banana  medium      7
8  orange     low      4
    fruit weight  price
0   apple   high      0
1  orange    low     12
2    pine   high      1
3   apple    low     13
4  orange   high     13
5    pine    low      8

In [3]:
pd.merge(df1,df2,on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        4     high        0
1    apple     high        4      low       13
2    apple     high        9     high        0
3    apple     high        9      low       13
4    apple     high        9     high        0
5    apple     high        9      low       13
6   orange      low        4      low       12
7   orange      low        4     high       13
8   orange      low       12      low       12
9   orange      low       12     high       13
10  orange      low        4      low       12
11  orange      low        4     high       13

In [4]:
pd.concat([df1,df2]).reset_index(drop=True)

     fruit  weight  price
0    apple    high      4
1   banana  medium     12
2   orange     low      4
3    apple    high      9
4   banana  medium      2
5   orange     low     12
6    apple    high      9
7   banana  medium      7
8   orange     low      4
9    apple    high      0
10  orange     low     12
11    pine    high      1
12   apple     low     13
13  orange    high     13
14    pine     low      8

In [ ]:
# 2

# 因為df1, df2 有一欄 (orange low 12) 重複，故合併時需刪除一欄。另pine 指出現在df2，合併後會出現null值，故也刪除。

In [5]:
# 3

df1.join(df2)

ValueError: ignored

In [8]:
# join by default 為欄的合併，但在兩個表格的欄名一樣且無指定字尾的情況下，便會跑錯。

df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          4     apple       high        0.0
1    banana     medium         12    orange        low       12.0
2    orange        low          4      pine       high        1.0
3     apple       high          9     apple        low       13.0
4    banana     medium          2    orange       high       13.0
5    orange        low         12      pine        low        8.0
6     apple       high          9       NaN        NaN        NaN
7    banana     medium          7       NaN        NaN        NaN
8    orange        low          4       NaN        NaN        NaN