In [1]:
import pandas as pd
import numpy as np
index = pd.date_range("1/1/2019", periods=20, freq='D')
series = pd.Series(range(20), index=index)
index,series

(DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
                '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
                '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
                '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
                '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20'],
               dtype='datetime64[ns]', freq='D'), 2019-01-01     0
 2019-01-02     1
 2019-01-03     2
 2019-01-04     3
 2019-01-05     4
 2019-01-06     5
 2019-01-07     6
 2019-01-08     7
 2019-01-09     8
 2019-01-10     9
 2019-01-11    10
 2019-01-12    11
 2019-01-13    12
 2019-01-14    13
 2019-01-15    14
 2019-01-16    15
 2019-01-17    16
 2019-01-18    17
 2019-01-19    18
 2019-01-20    19
 Freq: D, dtype: int64)

In [2]:
#1
series.to_period(freq='W')

2018-12-31/2019-01-06     0
2018-12-31/2019-01-06     1
2018-12-31/2019-01-06     2
2018-12-31/2019-01-06     3
2018-12-31/2019-01-06     4
2018-12-31/2019-01-06     5
2019-01-07/2019-01-13     6
2019-01-07/2019-01-13     7
2019-01-07/2019-01-13     8
2019-01-07/2019-01-13     9
2019-01-07/2019-01-13    10
2019-01-07/2019-01-13    11
2019-01-07/2019-01-13    12
2019-01-14/2019-01-20    13
2019-01-14/2019-01-20    14
2019-01-14/2019-01-20    15
2019-01-14/2019-01-20    16
2019-01-14/2019-01-20    17
2019-01-14/2019-01-20    18
2019-01-14/2019-01-20    19
Freq: W-SUN, dtype: int64

In [3]:
#2
series.to_period(freq='W').mean()

9.5