In [53]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
print(sklearn.__version__)
#如果只有 0.19 記得要更新至 最新版本
%matplotlib inline

0.22.2.post1

In [54]:
df_train=pd.read_csv('/content/drive/MyDrive/titanic/train.csv')

In [55]:
df_train.dropna(inplace=True)
data=df_train[['Age','Sex','Survived']]
data

      Age     Sex  Survived
1    38.0  female         1
3    35.0  female         1
6    54.0    male         0
10    4.0  female         1
11   58.0  female         1
..    ...     ...       ...
871  47.0  female         1
872  33.0    male         0
879  56.0  female         1
887  19.0  female         1
889  26.0    male         1

[183 rows x 3 columns]

In [56]:
# Q1
data['Age_above65_']=data['Age'].apply(lambda x : 'Y' if x>=65 else 'N')
data.loc[data['Age_above65_']=='Y']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Age   Sex  Survived Age_above65_
54   65.0  male         0            Y
96   71.0  male         0            Y
456  65.0  male         0            Y
630  80.0  male         1            Y
745  70.0  male         0            Y

In [57]:
# Q2
def age_map2(row):
  if row.Sex == 'female':
    return 'Y'
  else :
    if row.Age == 65:
      return 'Y'
    else:
      return 'N'
data['Age_above65_female']=data[['Sex','Age']].apply(age_map2,axis=1)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

      Age     Sex  Survived Age_above65_ Age_above65_female
1    38.0  female         1            N                  Y
3    35.0  female         1            N                  Y
6    54.0    male         0            N                  N
10    4.0  female         1            N                  Y
11   58.0  female         1            N                  Y
..    ...     ...       ...          ...                ...
871  47.0  female         1            N                  Y
872  33.0    male         0            N                  N
879  56.0  female         1            N                  Y
887  19.0  female         1            N                  Y
889  26.0    male         1            N                  N

[183 rows x 5 columns]

In [58]:
# !pip install researchpy
import researchpy
contTable=pd.crosstab(data['Age_above65_'],data['Survived'])
df=min(contTable.shape[0],contTable.shape[1])-1
crosstab,res=researchpy.crosstab(data['Survived'],data['Age_above65_'],test='chi-square')

def judgment_CramerV(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

judgment_CramerV(df,res.loc[2,'results'])

'small'

In [59]:
contTable=pd.crosstab(data['Age_above65_female'],data['Survived'])
df=min(contTable.shape[0],contTable.shape[1])-1
crosstab,res=researchpy.crosstab(data['Survived'],data['Age_above65_female'],test='chi-square')

def judgment_CramerV_2(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

judgment_CramerV_2(df,res.loc[2,'results'])

'large'

In [60]:
# Q3
# Age_above65_female 線性相關性較高