In [59]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
print(sklearn.__version__)
#如果只有 0.19 記得要更新至 最新版本
%matplotlib inline
from sklearn.feature_selection import VarianceThreshold
from sklearn import preprocessing

0.22.2.post1

In [60]:
df_train=pd.read_csv('/content/drive/MyDrive/titanic/train.csv')
df_train.dropna(inplace=True)

In [61]:
data=df_train[['Pclass','Age','SibSp','Parch','Fare','Sex','Embarked']]
data

     Pclass   Age  SibSp  Parch     Fare     Sex Embarked
1         1  38.0      1      0  71.2833  female        C
3         1  35.0      1      0  53.1000  female        S
6         1  54.0      0      0  51.8625    male        S
10        3   4.0      1      1  16.7000  female        S
11        1  58.0      0      0  26.5500  female        S
..      ...   ...    ...    ...      ...     ...      ...
871       1  47.0      1      1  52.5542  female        S
872       1  33.0      0      0   5.0000    male        S
879       1  56.0      0      1  83.1583  female        C
887       1  19.0      0      0  30.0000  female        S
889       1  26.0      0      0  30.0000    male        C

[183 rows x 7 columns]

In [62]:
data.dtypes, data.columns

(Pclass        int64
 Age         float64
 SibSp         int64
 Parch         int64
 Fare        float64
 Sex          object
 Embarked     object
 dtype: object,
 Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex', 'Embarked'], dtype='object'))

In [63]:
num_feature=[]
for dtype,column in zip(data.dtypes,data.columns):
  if dtype == 'int64' or dtype == 'float64':
    num_feature.append(column)
print(num_feature)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [64]:
cat_feature=[]
for dtype,column in zip(data.dtypes,data.columns):
  if dtype == 'object':
    cat_feature.append(column)
print(cat_feature)

['Sex', 'Embarked']

In [65]:
# Q1
from sklearn.preprocessing import LabelEncoder
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVC
sex_mapping={'male':1,'female':0}
data['Sex']=data['Sex'].map(sex_mapping)
#data['Sex']
data['Embarked']=LabelEncoder().fit_transform(data['Embarked'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [66]:
y=df_train['Survived']
estimator=SVC(kernel='linear')
selector=RFE(estimator,n_features_to_select=3,step=1)
selector=selector.fit(data,y)
print(selector.support_)
print(selector.ranking_)
rfe_feature=data.loc[:,selector.support_].columns.tolist()
print(rfe_feature)

[ True False False False False  True  True]
[1 3 2 4 5 1 1]
['Pclass', 'Sex', 'Embarked']

In [67]:
# With Wrapper method, the best features to tell survival are 'Pclass', 'Sex', and 'Embarked.'