In [28]:
import numpy as np
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

#1.
dt=np.dtype({'names':('Name', 'sex','weight', 'rank','myopia'),'formats':((np.str_,8),(np.str_,8),float,int,(np.bool_))})
array=np.zeros(8, dtype=dt)
array['Name']=name_list
array['sex']=sex_list
array['weight']=weight_list
array['rank']=rank_list
array['myopia']=myopia_list
array

array([('小明', 'boy', 67.5, 8,  True), ('小華', 'boy', 75.3, 1,  True),
       ('小菁', 'girl', 50.1, 5, False), ('小美', 'girl', 45.5, 4, False),
       ('小張', 'boy', 80.8, 7,  True), ('John', 'boy', 90.4, 6,  True),
       ('Mark', 'boy', 78.4, 2, False), ('Tom', 'boy', 70.7, 3, False)],
      dtype=[('Name', '<U8'), ('sex', '<U8'), ('weight', '<f8'), ('rank', '<i8'), ('myopia', '?')])

In [33]:
#2. 
print('平均體重: ',np.average(array['weight']),sep='')

平均體重: 69.8375

In [34]:
#3.
print('平均男生體重: ',np.average(array[array['sex']=='boy']['weight']),sep='')
print('平均女生體重: ',np.average(array[array['sex']=='girl']['weight']),sep='')

平均男生體重: 77.18333333333332
平均女生體重: 47.8